.orders_outer_container {
    padding-left: 49px;
}

.order_head {
    position: sticky;
    top: 100px;
    display: flex;
    height: 70px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.order_head h1 {
    font-size: 25px;
}

.orders_inner_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 4px rgb(248, 179, 51) solid;
    padding-top: 20px;
}

.orders_inner_container p,
.orders_inner_container span {
    font-size: larger;
}

.orders_inner_container>p span {
    display: inline-block;
    width: 250px;
}